body{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.afluenciaMain .afluenciaHeader input{
    padding: 10px;
    border: 2px solid rgb(236, 146, 146);
    width: 100%;
}

.Cola{
    width: 100%;
    height: 400px;
    padding-top: 30px;
}

.afluenciaMain .List {
    list-style: none;
    padding-left: 0;
    width: 100%;
    overflow:auto;
    height: 200px;
}

.afluenciaMain .List li {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 136, 221);
    padding: 10px; 
    margin-bottom: 10px;
    border-radius: 5px;
    list-style: none;
    margin-top: 15px;
    transition: background-color .2s ease-out;
}

.afluenciaMain .List li:hover {
    background-color: #e8054a;
    color:white;
    cursor: pointer;   
}

ul.List {
    padding: 0;
    border-radius: 5px;
    background-color: rgb(243, 244, 245);
}

.LPSecretaria{
    width: 100%;
}

.atencion{
    width: 70%;
    left: 15%;
}

.atencion .ui header{
    color: blue;
}

.patientNotFound{
    margin-top: 35px;
}

.patientNotFoundMessage {
    color: red;
}

.dataPacienteEnAtencion{
    border-radius: 10px 10px 10px 10px;
    background-color:rgb(243, 244, 245);
    padding: 8px;
    font-size: xx-small;
    margin-top: 25px;
}

.dataPacienteEnAtencion .hStyle{
    text-align: left;
    font-size: 28px;
    margin: 100px, 0px, 30px;
    border-bottom: 1px solid #333;
}

.moreThanOnePatient{
    margin-top: 45px;
    width: 100%;
    height: 250px;
    position: relative;

}

.moreThanOnePatientScroll {
    list-style: none;
    padding-left: 0;
    width: 100%;
    overflow:auto;
    height: 200px;
    position: absolute;
}

#btnNuevoAnalisis {
    margin: 7px 0px;
    width: 97px;
}