.afluenciaMain .afluenciaHeader input{
    padding: 10px;
    border: 2px solid #FFF;
    width: 165px;
}

.Cola{
    background-color: #dce6e8;
    width: 200px;
    height: 400px;
    padding-top: 30px;

}

.afluenciaMain .List {
    list-style: none;
    padding-left: 0;
    width: 250px;
}

.afluenciaMain .List li {
    color: black;
    background-color: cornflowerblue;
    padding: 10px; 
    margin-bottom: 10px;
    border-radius: 5px;
    list-style: none;
    margin-top: 15px;

    transition: background-color .2s ease-out;
}

.afluenciaMain .List li:hover {
    background-color: #e8054a;
    color:white;
    cursor: pointer;
}

ul.List {
    padding: 0;

}

.LPSecretaria{
    width: 500px;
}


.Background{
    background-color: aqua;
}

