image: atlassian/pipelines-awscli

pipelines:
  default:
      - step:
          name: "Run tests"
          image: node:10.15.0
          script:
            - npm install
            - npm run test

  branches:
    develop:
      - step:
          name: "Run tests"
          image: node:10.15.0
          script:
            - npm install
            - npm run test
      - step:
          name: "Build & Push Image"
          deployment: Test
          script:
            - eval $(aws ecr get-login --region ${AWS_REGION} --no-include-email)
            - docker build -t $AWS_CONTAINER_REGISTRY:latest .
            - docker push $AWS_CONTAINER_REGISTRY:latest
          services:
            - docker
      - step:
          name: "Deploy to Test Environment"
          script:
            - pipe: atlassian/ssh-run:0.2.5
              variables:
                SSH_USER: 'ubuntu'
                SERVER: 'ec2-3-128-89-230.us-east-2.compute.amazonaws.com'
                MODE: 'script'
                COMMAND: 'deploy-script.sh'
definitions:
  services:
    docker:
      memory: 2048