.formAnalsis {
    width: 65em;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.buttonNuevoPaciente {
    padding: 0.8em !important;
}

.btnRegistrarAnalisis {
    text-align: right;
    margin-top: 30px;
}

.infoSelectedPaciente {
    /* text-align: left !important; */
    margin-top: 5px;
    margin-bottom: 20px;
}

.segment {
    /* height: 300px; */
    margin-bottom: 25px !important;
}

.seleccionPaciente {
    margin-top: 30px;
}

.seleccionPaciente .ui.container {
    font-size: 1.2em;
}

.seleccionPaciente .ui.grid {
    margin-top: 25px;
    margin-bottom: 15px;
}

.seleccionPaciente .ui.steps {
    width: 60em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}



