.formAnalsis {
    width: 65em;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.buttonNuevoPaciente {
    padding: 0.8em !important;
}

.btnRegistrarAnalisis {
    text-align: right;
    margin-top: 30px;
}

.infoSelectedPaciente {
    margin-top: 5px;
    margin-bottom: 20px;
}

.infoSelectedPaciente .ui.center.aligned.header {
    color: rgba(0,0,0,.87);
}

.seleccionPaciente, .seleccionDeterminaciones, .seccionPago {
    margin-top: 30px;
}

.seleccionPaciente .ui.container {
    font-size: 1.2em;
}

.seleccionPaciente .ui.grid {
    margin-top: 25px;
    margin-bottom: 15px;
}

.seleccionPaciente .ui.steps, .seleccionDeterminaciones .ui.steps, .seccionPago .ui.steps {
    width: 60em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.seleccionPaciente .ui.button {
    margin-bottom: 40px;
}

.seleccionDeterminaciones .ui.button, .seccionPago .ui.button {
    margin-top: 3em;
}

.unionConNavbar {
    display:flex;
    flex-direction:row;
}

.formConsultaAnalisis {
    width: 90%;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.formConsultaAnalisis .ui.segment {
    margin-top: 50px;
}

.muestras .ui.button {
    margin-top: 15px;
}

.createMuestra .css-yk16xz-control {
    background: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    box-shadow: none;
}

.modalVerDetalle .ui.basic.table {
    margin-top: 1.8em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2em;
}

.ui.circular.button {
    background-color: transparent;
}

.tablaMuestras {
    width: 100%;
    max-height: 12rem;
    overflow-y: auto;
}

.cardDeterminaciones {
    width: 100%;
    max-height: 11.5rem;
    overflow-y: auto;
}

.tablaDetallePago {
    width: 100%;
    max-height: 22rem;
    overflow-y: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.labelFaltantePago {
    position: absolute !important;
    left: 0;
    bottom: 4rem;
    z-index: 0;
}

.determinacionesARealizar {
    width: 100%;
    height: 12rem;
    overflow-y: auto;
    overflow-x: hidden;
}