.formAnalsis {
    width: 65em;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.buttonNuevoPaciente {
    padding: 0.8em !important;
}

.btnRegistrarAnalisis {
    text-align: right;
    margin-top: 30px;
}

.infoSelectedPaciente {
    margin-top: 5px;
    margin-bottom: 20px;
}

.seleccionPaciente {
    margin-top: 30px;
}

.seleccionPaciente .ui.container {
    font-size: 1.2em;
}

.seleccionPaciente .ui.grid {
    margin-top: 25px;
    margin-bottom: 15px;
}

.seleccionPaciente .ui.steps {
    width: 60em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.seleccionDeterminaciones {
    margin-top: 30px;
}

.seleccionDeterminaciones .ui.steps {
    width: 60em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.seleccionDeterminaciones .ui.button {
    margin-top: 3em;
}


