.listadoCaja {
  margin: 100px 90px;
}

.spinner {
  width: 100%;
  margin: 90px 25px 25px;
}

.rowStyle {
  text-align: left;
}

.headerStyle th{
  background-color: lightgray;
  text-align: center;

}

.subHeaderStyle th{
  background-color: rgb(236, 236, 236);
  text-align: center;

}

.reset-expansion-style {
  background-color:  rgb(236, 236, 236);
  box-shadow: 2px 2px 4px 2px rgb(212, 212, 212) !important;
}

.expandRowStyle {
  background-color:  rgb(246, 246, 246);
  text-align: left;
}

