.filter {
    margin-top: 3em;
}

.filter .ui.dropdown {
    right: 35px;
    font-size: 1.1em;
}

.filter .ui.input {
    width: 200%;
}

.tabla {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 5em;
}

.tabla .ui.header {
    font-family: 'Playfair Display', serif;
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 300;
}

/* .tabla .ui.button {
    background-color: transparent;
} */

.listadosBaja {
    color: rgb(163, 160, 160);
}

.importeNegativo {
    color: red;
    text-align: right;
}

.importePositivo {
    text-align: right;
}

.expansibleSeccion {
    box-shadow: 0px 0px 100px -26px rgba(0,0,0,0.73) !important;
    padding: 1.2rem !important;
    margin-bottom: 1.1rem !important;
}