.Domicilios{
    width: 80rem;
    height: 25rem;
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
    border-radius: 10px;

}

@media only screen and (max-width: 600px) {
    .Domicilios{
        width: 100%;
    }
}