.Formularios{
    width: 100%;
    margin-left: 100px;
    margin-top: 35px;
}

.login{
    width: 100%;
    align-self: center;
}

.boton{
    margin-bottom: 30px;
    margin-top: 30px;
}

.Navigator{
    display:flex; 
    flex-direction:row;
}

.error{
    border-color: red;
}
  