body {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.avoidMenu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

.error {
    border-color: red;
}

.listadosBaja {
    color: rgb(163, 160, 160);
}

.btnHeader {
    width: 70%;
    margin-left: 150px;
    margin-right: 25px;
    margin-top: 100px;
}

.spinner {
    top: 50%;
    left: 50%;
}

.Formularios{
    width: 40%;
    margin-left: 150px;
    margin-right: 25px;
    margin-top: 40px;
    align-items: center;
}

  
.tablaListadoHistorico{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
}

.rightAlign{
    position: absolute;
    right: 35px;
}

.selectCantidad{
    border: none;
}

.centerAlignment{
    text-align: center;
}

.centeredPosition {
    position: fixed;
    top: 50%;
    left: 50%;
}

@media only screen and (max-width: 600px) {
    .avoidMenu {
        margin-top: 35px;
        width: 100%;
        padding: 0 0.4rem;
        padding-bottom: 6em;
    }
  
}