body{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.Formularios{
    width: 70%;
    margin-left: 150px;
    margin-right: 25px;
    margin-top: 100px;
}

.altasPaciente{ 
    width: 100%;
    margin-top: 40px;
    margin-bottom: 45px;
}

.FormAlta{
    width: 100%;
}

.login{
    width: 100%;
    align-self: center;
}

.boton{
    padding: 50px;
}

.Navigator{
    display:flex; 
    flex-direction:row;
}

.error{
    border-color: red;
}

.union{
    display:flex; 
    flex-direction:row;
}

.btnHeader{
    margin-bottom: 30px;
}
  
.pacienteBaja{
    color: rgb(196, 195, 193);
}

.tablaListadoHistorico{
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 90px;
}

.rightAlign{
    position: absolute;
    right: 35px;
}

.selectCantidad{
    border: none;
}

.centerAlignment{
    text-align: center;
}

