.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    overflow: auto;

  }

  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;

  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  
  .spinnerPosition {
    width: 100%;
    margin: 90px 25px 25px;
  }