.loginLayout {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    margin-top: 9rem;
}

.loginLayout::before {
    background-image: url('./lab.PNG');
    background-size: cover;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.75;
}

.loginLayout .ui.segment {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    background: rgba(170, 223, 240, 0.36);
    border: none;
    padding-bottom: 2rem;
    border-radius: 8px;
}

.login {
    width: 100%;
    margin-top: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

.login .ui.button {
    margin-top: 2rem;
    width: -webkit-fill-available;
}

.login .ui.input>input {
    background-color: #fafafa;
}

.login .field>label {
    color: #ffffff !important;
    opacity: 0.8;
    font-size: 1.07rem !important;
}


@media only screen and (max-width: 991px){
    .loginLayout .ui.segment {
        width: 80%;
    }
}

@media only screen and (max-width: 600px){
    .loginLayout .ui.segment {
        width: 100%;
        border-radius: 0;
    }
}