body {
  font-family: sans-serif;
  background-color:rgb(116, 157, 196);
}

.Paciente{
  font-size: 30px;
  color: rgb(255, 253, 254);
  box-align: center;
  padding: 20px;
}

.formulario{
}


.boton{
  background-color: rgb(255, 94, 0); 
  color: rgb(129, 38, 38);
  margin: 10px;
}

.nombrePaciente{
  text-align: left;
}